body { 
  text-align: center; 
  margin: auto; 
  width: 100%; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-size: 100% 100%; 
}
h1{
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
  text-align: center;
}
